@charset "UTF-8";

.cards-container {
	max-width: 1440px;
	margin: 0 auto;
    margin-top: 30px;
    margin-left: 18px;
    display: flex;
    flex-wrap: wrap;
}
  
.card {
    width: 300px;
    height: 500px;
	background: #ffffff;
	margin : 0px 25px 50px 25px;
	text-align: left;
	transition: all 0.3s 0s ease-in;
	z-index: -1;
	border: 1px solid #d3d3d3;
	
	transition: all 0.2s linear;

}

.card:hover{
	transform: scale(1.05);
	box-shadow: 1px 1px 3px rgba(1, 1, 0, 0.3);
}


.card-top {
    width: 300px;
    height: 300px;	
	display : flex;
	justify-content : center;
	align-items : center;
    overflow : hidden;
}

.card-image {
	max-width: 100%;
    max-height: 100%;
}

.card-bottom {
    width: 300px;
    height: 200px;
}

.card-title-container {
    height: 80px;
	display : flex;
	background: #ffffff;
    margin: 0 10px;
}

.card-title {
    width: 230px;
    height: 90px;
    display: flex;
    flex-direction: column;
	width : 250px;
    font-weight : 700;
	font-size : 22px;
    margin-top: 10px;
}
 
.heart-btn, .alarm-btn {
	width: 40px;
	height: 40px;
	margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
	font-size: 22px;
	border : 1px solid ;
	margin-left: 7px;
	/*border-radius: 70%;*/
}

.bell-btn {
	color: #eedf10;
}

/*
.heart-icon {
	color: #ee281a;
}
*/

.category-and-rate {
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.bar {
    margin-left: 10px;
    margin-right: 10px;
}

.rate {
    color: #3d4ee7;
}

.card-description {
    height : 90px;
	font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}