@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

header {
	font-family: "Pretendard Variable";
}

/* Header */
.header {
	display : flex;
	justify-content: center;
	align-items: center;
	
	background: #FFFFFF;
	margin : 0 auto;
	height : 100px;
	width : 1440px;
	
	position: relative;
}

.header a {
	text-decoration: none;
}

.centered {
	position: absolute;
    left: 42%;
}

.main-title {
	color: #3D56B2;
	font-size: 60px;
	font-weight : 600;
}

.main-dropdown, .login-container {
 	position: absolute;
 	
	display: flex;
	justify-content: center;
	align-items: center;
 	
	left : 93%;
 	height : 65px;
}

.login-container {
	left: 86.5%;
	width: 150px;
	height: 45px;
	flex-direction: row;
	font-size: 14px;
	/*border: 1px solid #3D56B2;
	border-radius: 10px;*/
	cursor: pointer;
}

.login-img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.login-img>img {
	max-width: 100%;
	max-height: 100%;
}

.main-dropdown-button {
	border:1px solid #3D56B2;
  	border-radius:50%;
  	width: 50px;
  	height: 50px;
  	
  	overflow: hidden;    
  	cursor:pointer;
}

.profile-image{
	width : 50px;
	height : 50px;
}

.dropdown-options {
	display: none;
	position: absolute;
	right : 0%;
	width : 130px;
	background-color:#ffffff;
	border-radius:5px;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
	
	z-index : 1;
}

.dropdown-item {
	font-weight : 600;
}


.dropdown-options .dropdown-item{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.main-dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-item:hover{
  background-color : #ececec
}


/* =======================================body========================================*/

body {
	font-family: "Pretendard Variable";
	margin : 0px;
	background: #FFFFFF;
	padding-bottom: 80px;
	position: relative;
}

.main-container {
	width : 1440px;
	height: auto;
	min-height: 100%;
	display: flex;
    margin: 0 auto;
    margin-top: 20px;
	padding-bottom: 80px;
}

#wrap{
	min-height: 100%;
	position: relative;
}

/* =======================================footer========================================*/
footer {
	height: 80px;
	/* background-color: #FFFFFF;
	padding-top: 25px;
	margin-top: 50px;*/
	text-align: center;
	text-decoration: none;
	color: #686868;
	font-size: 18px;
	/* position: absolute;
  	bottom: 0; */
  	position : fixed;
  	/* transform : translateY(-100%); */
  	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	
}

.footer-container {
	height: 100%;
	background-color: #FAFAFA;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.footer-image {
	width: 15px;
    height: 15px;
}

/* =======================================pagination========================================*/
/* pagination */
.pagination-box {
    display: flex;
    justify-content: center;
}
.pagination-nav {
    margin: auto;
}

.pagination>ul {
    display: inline-block;
    justify-content: center;
}
.pagination>li {
    color: black;
    float: left;
    text-decoration: none;
}

/*폰트*/
.pagination a {
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
}
 
.pagination a.active {
    background-color: #D9E6FF;
    color: black;
    border: 1px solid #D9E6FF;
}

.pagination a:hover:not(.active) {border: 1px solid #415F9D;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* =======================================mypage-sidebar========================================*/

.dashboard {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.side-menu-line {
    width: 200px;
    text-align: left;
    margin: 0px;
}
.side-menu {
    width: 220px;
    float: left;
    margin-top: 25px;
    /* margin-left: 50px; */
}
.line {
    width: 0px;
    border: 1px solid #918f8f;
    margin-top: 25px;
}
.menu {
    display: block;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 600;
}
.menu-container {
    margin-top: 15px;
    margin-bottom: 40px;
}
.menu-container>ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-container>ul>li {
    font-size: 20px;
    margin-bottom: 8px;
}
#current-title {
    font-weight: 700;
    font-color: #3D56B2;
    font-size: 22px;
}


/* =======================================button========================================*/

button {
	font-size: 18px;
	color : #3D56B2;
	font-weight : 600;
	display: inline-block;
    text-align: center;
	border : 1px solid #3D56B2;
	border-radius : 5px;
	background-color : #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
	
button:hover {
	color : #ffffff;
	background-color : #3D56B2;
}


/* =======================================dropdown(select)========================================*/
select {
	border : 1px solid #000000;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ffffff;
	color : #000000;
	font-weight : 400;
}


/* =======================================dropdown(select)========================================*/

select {
    background-size: 20px;
    padding: 3px 6px 3px 6px;
    border: 1px solid #444444;
    border-radius: 5px;
    outline: 0 none;
    margin-left: 3px;
    color: #444444;
    background-color: #ffffff;
}

/* =======================================table========================================*/

table {
    border-collapse: collapse;
    text-align: center;
}
thead {
    color:    white;
    font-size: 22px;
    font-weight: 600;
    background-color: #3D56B2;
}
tbody {
    font-size: 18px;
}
td, th {
    border-bottom: 1px solid #444444;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 3px;
}

/* =======================================a========================================*/

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color : #3D56B2;
    font-weight: 600;
}
