/* 본문 */ 
.main-content {
    width: 1200px;
    display: flex;
    flex-direction: column;
    float: left;
    align-items: left;
    margin-top: 25px;
    margin-left: 50px;
}

.title {
    display: block;
    margin: 10px 0px 10px 40px;
    font-size: 34px;
    font-weight: 600;
}