
/* Login.css */
body {
    font-family: Arial, sans-serif;
}

.center{
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
}

.container {
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 12.5px;
    padding: 25px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}

.container h1 {
    font-size: 270%;
    text-align: center;
    color: #005691;
}

.container a {
    font-size: 15px;
    text-align: center;
    color: #005691;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="number"],
.container input[type=email] {
    width: 100%;
    padding: 15px 25px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container button {
    background-color: #005691;
    color: #E8F1F5;
    padding: 17px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

.container button:hover {
    opacity: 0.8;
}

.input-wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 12.5px;
}

/* signUp.css */

h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

/* 좌우 버튼 디자인 */
.radio-btn-label {
    display: inline-block;
    margin-right: 10px;
}

.radio-btn {
    padding: 8px 15px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* 선택된 버튼 스타일 */
.radio-btn.selected {
    background-color: #13258f;
    color: #fff;
    border-color: #007bff;
}

