@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

.main-total-container {
	width : 1440px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    margin: 0 auto;
	padding-bottom: 80px;
}

/* search box */
.main-search {
	margin-right : 10px;
}

.search-container{
	width: 250px;
	height: 46px;
	border: 2px solid #3D56B2;
	border-radius:10px;
	background-color : #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.search-icon:hover {
	cursor : pointer;
}

input#search-bar{
	width: 160px;
	height: 40px;
	margin-left: 10px;
	font-size: 16px;
	border: none;
	outline: none;
	
	&:focus{
		transition: 0.35s ease;
		&::-webkit-input-placeholder{
			transition: opacity 0.45s ease; 
			opacity: 0;
		}
		&::-moz-placeholder {
			transition: opacity 0.45s ease; 
			opacity: 0;
		 }
		&:-ms-placeholder {
			transition: opacity 0.45s ease; 
			opacity: 0;
		 }    
	}
}
.search-bar-BTN {
	height: 80px;
}
.search-icon{
	max-height: 100%;
}


/* category-bar */

.main-search-category-container {
	width: 1440px;	
	height : 49px;
	display : flex;
	justify-content : center;
	background-color : #efefef;
	padding-top : 10px;
	padding-bottom : 10px;
	margin: 0 auto;
	
}

.main-search-category-bundle {
	width : 1440px;
	margin: 0 10px;
	display : flex;
	justify-content : space-between;
}


.main-category {
	margin-top : 0px;
	display : flex;
	justify-content: space-between;
	align-items: center;
}


.main-category-list {
	display : flex;
	justify-content: space-between;
	align-items : center;
	width : 900px;
	height : 45px;
	border-radius : 5px;
}

.main-category-cell {
	border-radius : 5px;
	width : 130px;
	height : 50px;
	color: #3D56B2;
	font-size : 24px;
	font-weight : 600;
	display : flex;
	justify-content: center;
	align-items : center;
	transition: all 0.2s linear;
}
.main-category-cell:hover{
	transform: scale(1.07);
}

.main-category-list div.active {
	background-color : #3D56B2;
	color : white;
}

.main-category-cell:hover{
	background-color : #3D56B2;
	color : white;
	cursor : pointer;
}

/* main-bar */
.main-bar {
	height : 50px;
	padding : 20px 0;
	margin: 0 20px;	
	display : flex;
	justify-content:space-between;
}

.main-bar-title {
	display : flex;
	justify-content : center;
	align-items : center;	
	
}

.main-bar-dropdown-bundle {
	display : flex;
	justify-content : center;
	align-items : center;	
}


.main-bar-dropdown-bundle .main-bar-dropdown {
	cursor: pointer;
}

.main-bar-dropdown {
	width : 100px;
	height : 30px;
	margin-left: 20px;
}

.main-bar-dropdown-option {
	display : flex;
	justify-content: center;
	align-items : center;
}

select {
	border : 1px solid #000000;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ffffff;
	color : #000000;
	font-weight : 400;
}

.header{
	border-bottom : none;
}

