@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

.main-total-container {
	margin : auto;
	width : 1440px;
}

/* search box */
.main-search {
	margin-right : 6%;
}

.search-container{
	width: 200px;
}


.search-icon:hover {
	cursor : pointer;
}

input#search-bar{
	margin: 0 auto;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	font-size: 1rem;
	border: 2px solid #3D56B2;
	border-radius:10px;
	background-color : #ffffff;
	outline: none;
	
	&:focus{
		border: 1px solid #3D56B2;
		transition: 0.35s ease;
		color: #3D56B2;
		&::-webkit-input-placeholder{
			transition: opacity 0.45s ease; 
			opacity: 0;
		}
		&::-moz-placeholder {
			transition: opacity 0.45s ease; 
			opacity: 0;
		 }
		&:-ms-placeholder {
			transition: opacity 0.45s ease; 
			opacity: 0;
		 }    
	}
}

.search-icon{
	position: relative;
	float: right;
	width: 75px;
	height: 75px;
	top: -62px;
	right: -45px;
}




/* category-bar */

.main-search-category-container {
	display : flex;
	justify-content : center;
	
	background-color : #efefef;
	
	height : 49px;
	
	padding-top : 10px;
	padding-bottom : 10px;
}

.main-search-category-bundle {
	width : 1440px;
	
	display : flex;
	justify-content : space-between;
}


.main-category {
	margin-top : 0px;
	display : flex;
	
}

.main-category-container {
	display : flex;
	justify-content: space-between;
	align-items : center;
}


.main-category-list {
	display : flex;
	justify-content: space-between;
	align-items : center;
	width : 900px;
	height : 45px;
	
	/*border : 1px solid #3D56B2;*/
	border-radius : 5px;
}

.main-category-cell {

	border-radius : 5px;
	width : 130px;
	height : 50px;
	
	color: #3D56B2;
	font-size : 24px;
	font-weight : 600;
	
	display : flex;
	justify-content: center;
	align-items : center;
}

.main-category-list div.active {
	background-color : #3D56B2;
	color : white;
}

.main-category-cell:hover{
	background-color : #3D56B2;
	color : white;
	cursor : pointer;
}

/* main-bar */
.main-bar {
	margin : 20px 0px;	
	width:inherit;
	height : 50px;
	
	display : flex;
	justify-content:space-between;
}

.main-bar-title {
	margin-left : 2%;
	
	display : flex;
	justify-content : center;
	align-items : center;	
	
}

.main-bar-dropdown-bundle {
	display : flex;
	justify-content : center;
	align-items : center;	
	margin-right : 3%;
}


.main-bar-dropdown-bundle .main-bar-dropdown {
	width : 100px;
	height : 30px;

	margin-left : 40px;
	cursor: pointer;
	
}

.main-bar-dropdown-option {
	display : flex;
	justify-content: center;
	align-items : center;
}

select {
	border : 1px solid #000000;
	border-radius: 5px;
	cursor: pointer;
	background-color: #ffffff;
	color : #000000;
	font-weight : 400;
}






/* card */
  
.cards-container {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
  
.card {
    width: 300px;
    height: 500px;
    background: #ffffff;
    margin : 0px 25px 20px 25px;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
    border : 1px solid #d3d3d3;
}



.card-top {
    width: 300px;
    height: 300px;    
    display : flex;
    justify-content : center;
    align-items : center;
    overflow : hidden;
}

.card-image {
    height: 300px;;
}

.card-image:hover {
	cursor : pointer;
}

.card-bottom {
    width: 300px;
    height: 200px;
}

.card-title-container {
    height: 80px;
    display : flex;
    background: #ffffff;
    margin: 0 10px;
}

.card-title {
    width: 230px;
    height: 90px;
    display: flex;
    flex-direction: column;
    width : 250px;
    font-weight : 700;
    font-size : 22px;
    margin-top: 10px;
}

.heart-btn {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    border-radius: 70%;
}

.heart-icon {
    color: #ee281a;
}

.category-and-rate {
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.bar {
    margin-left: 10px;
    margin-right: 10px;
}

.rate {
    color: #3d4ee7;
}

.card-description {
    height : 90px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}




