@charset "UTF-8";

.title {
  display: block;
  margin-left: 45px;
  margin-bottom: 12px;
  font-size: 34px;
  font-weight: 600;
}

.jumbotron-flat {
  background-color: solid #4db8ff;
  height: 100%;
  border: 1px solid #4db8ff;
  background: white;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.paymentAmt {
  font-size: 80px;
}

.centered {
  text-align: center;
}

.title {
  padding-top: 15px;
}

/* 수정 시작 */
.personal-info {
  width: 800px;
}
#file-load {
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
  border: none;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */
}
#file-upload-button {
  width: 100px;
  height: 40px;
}
.personal-info input {
  width: 300px;
  height: 40px;

  background-color: white;
  font-size: 16px;
  /* border: none; */
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: 3px;
  margin-bottom: 5px;
}
.text-center {
  margin-top: 10px;
}

.main-container {
  width: 1440px;
  display: flex;
  margin: 0 auto;
}

.img-circle {
  width: 250px;
  height: 200px;
}


.main-body {
  margin-left: 50px;
}


button {
  width: 100px;
  height: 43px;

}

.personal-info input.btn {
  color: black;
  width: 100px;
  &:hover {
    color: white;
    background-color: #3D56B2;
  }
}

#form-btn-right {
  text-align: right;

}
#aleady-nickname {
  display: hidden;
}

p {
  margin-top: 3px;
  font-size: small;
  color: red;
}

#edit-save-btn {
  width: 150px;
  &:hover {
    color: white;
    background-color: #3D56B2;
     border: 1px solid #3D56B2;

  }
}

#sample6_extraAddress {
  width: 150px;
}
#sample6_detailAddress {
  width: 460px;
}
