footer {
	position: absolute;
}
.content {
	background: linear-gradient( white, white, #eff1f9d7);
}
.footer-container{
	background-color: #eff1f9d7;
}

.main-container {
    flex-direction: column;
    background-color: white;
}

.top {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    /* align-items: center; */
    /*margin-top: 25px; */
    margin-bottom: 30px;
}

.top-left {
    width: 250px;
    height: 250px;
    border: 1px solid #415F9D;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 50px;
}

.profile-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.profile-img:hover{
	transform: scale(1.25);
	overflow: hidden;
}

.top-right {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
}

.profile-user-settings {
    height: 60px;
    display: flex;
    align-items: center;
}

.profile-user-name {
    font-size: 48px;
}

.profile-edit-btn {
    margin-left: 15px;
}

.profile-bio {
    height: 100px;
    margin-top: 10px;
    font-size: 25px;
}

hr {
    height: 1px;
    width: 1440px;
}

.dropdown-select {
    margin-top: 20px;
    font-family: "Pretendard Variable";
}

.ongoing-select {
    width: 100px;
    height: 30px;
    margin-left: 45px;
}

.card {
	margin-bottom: 50px;
}