.dashboard-container {
	width : 1800px;
	display: flex;
    margin: 0 auto;
}

/* 본문 */ 
.main-content {
    width: 1600px;
    display: flex;
    flex-direction: column;
    float: left;
    align-items: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.title {
    display: block;
    margin-bottom: 12px;
    font-size: 34px;
    font-weight: 600;
}

.hr-container {
	width: 182px;
	text-align: left;
}

/* registerRequest 테이블 */
.goods-num {
	width: 210px;
}
.goods-name {
    width: 710px;
}
.goods-applicant {
	width: 250px;
}
.request-date {
    width: 210px;
}
.allow-btn {
    width: 170px;
}
.allow-btn>button {
	font-size: 16px;
}