@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

/*
body {
 
   font-family: "Pretendard Variable";
	background-color: linear-gradient(to top, red, yellow);
}

.content {
 
	background: linear-gradient(white, #eff1f9d7);
}

*/


.main-container{
	flex-direction: column;
	
}

.main-container> div {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.divLeft {
  text-align: left;
}

h1 {
  font-size: 20px;
  text-align: left;
}
input{
	color : black;
	border : 1px solid #3D56B2;
	border-radius : 5px;
	background-color : #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
     font-family: "Pretendard Variable";
}
#goodsName {
  width: 600px;
}
#goodsNameInput {
  width: 400px;
  height: 40px;
  font-size: 16px;

}
#goodsNameInput:hover {
  border: 1px solid grey;
  border-radius: 5px;
}


#goodsIntroInput {
  width: 400px;
  height: 40px;
  background-color: white;
  font-size: 16px;
  
}
/* select
- 물품 카테고리
- 은행 카테고리
*/
select {
  width: 200px;
  height: 40px;
  font-size: 16px;
  background-color: white;
  font-size: 16px;
   font-family: "Pretendard Variable";
  
}

#categorySubmit {
  width: 80px;
  height: 40px;
  font-size: 16px;
	
  &:hover {
   color : #ffffff;
	background-color : #3D56B2;
}
}
/* 모금기간 */
.date {
  width: 200px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-right: 95px;
  color : black;
   font-family: "Pretendard Variable";
}
#dateTxt {
  display: flex;
 justify-content: space-between;
  
}
#startDateTxt {
  width: 200px;
  text-align: left;
  margin-left: 0px;
  
}

#endDateTxt {
  width: 200px;
  text-align: left;
}
#salePeriod {
  text-align: left;
  background-color: white;
  font-size: 16px;
   color : black;
}

/* 이미지 등록 btn */
button {
  width: 600px;
  height: 40px;

}


/* 상품정보입력 */
#itemInfoForm {
  background-color: #ececec;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#itemInputBox {
  background-color: white;
  opacity: 1.0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 500px;
  padding-right: 47px;
}
.itemForm {
  width: 400px;
  height: 40px;
  background-color: white;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 13px;
}
.ness {
  color: rgb(225, 0, 0);
}
#itemSubmit {
  margin-left: 490px;
}
#itemSubmitInput {
  width: 70px;
  height: 40px;
  font-size: 16px;
	color : #3D56B2;
	font-weight : 400;
	display: inline-block;
    text-align: center;
	border : 1px solid #3D56B2;
	border-radius : 5px;
	background-color : #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  &:hover {
   color :#3D56B2;
	background-color : #ffffff;
  }
}

/* 계좌 */
#bankAccountNumber {
  width: 400px;
  height: 40px;
  background-color: white;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
}

/* 상품 구성 리스트 */
ul {
  list-style-type: none;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#itemList {
    display: none;
  }
  
.listItemName{
	width : 450px;
	
}
.listItemQuantity{
	padding-bottom: 3px;
}

.item-row{
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
}

.item{
  width: 560px;
  color: black;
  background-color: white;
  border: 1px solid #3D56B2;
  border-radius: 5px;
}
.items {
  width: 400px;
  height: 45px;
   color: black;
  background-color: white;
  font-size: 16px;
  border: 1px solid #3D56B2;
  border-radius: 5px;
}
.itemdelete {
  border: none;
  height: 30px; 
  width: 15px;
  margin-right: 10px;
  box-shadow: none;
  

}
.listItemName{
	padding-top: 3px;
}
.itemdelete:hover{
  	background-color : white;
  	color : #3D56B2;
  }
  
.item> div{
  	font-size: 18px;
  	margin-left: 10px;
  	font-weight: 400;
  }



/* 목표금액 */
#targetAmountInput {
  width: 400px;
  height: 40px;
  font-size: 16px;
  color : #3D56B2;
	border : 1px solid #3D56B2;
	border-radius : 5px;
	background-color : #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* 정산받을 계좌 정보 */
#bankAccountNumber {
  width: 380px;
  color : #3D56B2;
	border : 1px solid #3D56B2;
	border-radius : 5px;
	background-color : #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* 굿즈 만들기 */
#registGoodsBtn {
  background-color: #3D56B2;
  border:  1px solid white;
  color: white;
  &:hover {
    color: #3D56B2;
    background: white;
  }
}
