<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="crafty.mapper.LikesMapper">
	
	
 	<select id="getLikedGoodsByMemberId" parameterType="hashmap" resultType="crafty.pagination.dto.MainCard">
 		SELECT goods_id, goods_name, introduction, img_path, img_name, category, total, target_amount, like_id, alarm_id
		FROM(
			SELECT ROWNUM AS rn, goods_id, goods_name, introduction, img_path, img_name, category, total, target_amount, like_id, alarm_id
			FROM (
				SELECT g.goods_id, g.goods_name, g.introduction, gd.img_path, gd.img_name, g.category,
	        			NVL(SUM(o.total_amount), 0) AS total, g.target_amount, NVL(like_id, 0) AS like_id, NVL(alarm_id, 0) AS alarm_id
				FROM goods g
				LEFT JOIN ORDERs o ON o.goods_id = g.goods_id
				JOIN likes l ON l.member_id = #{memberId} AND l.goods_id = g.goods_id
				JOIN GOODS_DESCRIPTION_IMG gd ON gd.goods_id = g.goods_id
				LEFT JOIN open_alarm oa ON oa.member_id = #{memberId} AND oa.goods_id = g.goods_id
				WHERE gd.img_position = 1 and g.registration_status = 1 and g.nondisclosure_status = 0
				GROUP BY g.goods_id, g.goods_name, g.introduction, gd.img_path, gd.img_name, 
				        g.category, like_id, alarm_id, g.goods_created_at, g.target_amount
				ORDER BY g.goods_created_at DESC
			)
		)
		<![CDATA[
			WHERE rn > (#{pageRequest.pageNum} - 1) * #{pageRequest.amount}
			  AND rn <= #{pageRequest.pageNum} * #{pageRequest.amount}
		]]>
 	</select>
 	
 	<select id="getLikedGoodsTotalCount" resultType="_int">
		SELECT COUNT(*)
		FROM LIKES
		WHERE member_id = ${memberId} 
 	</select>
	
 	 <select id="getGoodsByMemberId" resultType="crafty.dto.Goods">
 	 	SELECT * 
		FROM GOODS 
		WHERE goods_id IN (SELECT goods_id 
		                    FROM LIKES 
		                    WHERE member_id = #{memberId})
 	 </select>
 	 
 	 <insert id="insertLikeByGoodsIdAndMemberId" parameterType="hashmap">
 	 	INSERT INTO LIKES
 	 	VALUES (likes_seq.NEXTVAL, #{memberId}, #{goodsId})
 	 </insert>
 	 
 	 <delete id="deleteLikeByLikeId">
 	 	DELETE FROM LIKES
 	 	WHERE like_id = #{likeId}
 	 </delete>
 </mapper>