<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="crafty.mapper.MemberMapper">
 	
 	<!-- 프로필 페이지 -->
 	<select id="getProfileByMemberId" resultType="crafty.dto.ResponseProfile">
 		SELECT member_id, nickname, profile_img, profile_introduction
 		FROM MEMBER
 		WHERE member_id = #{memberId}
 	</select>
 	
 	<!-- signUp, Insert a new member -->
    <insert id="signUp" parameterType="crafty.dto.Member">
    <selectKey keyProperty="memberId" resultType="int" order="BEFORE">
        SELECT member_seq.nextval FROM dual
    </selectKey>
	    INSERT INTO MEMBER (member_id, name, nickname, login_id, login_pw, phone_num, zone_code, road_address,
	                        detail_address, email, birth, gender, last_login_date,
	                        position, member_created_at, member_updated_at)
	    VALUES (#{memberId}, #{name}, #{nickname}, #{loginId}, #{loginPw}, #{phoneNum}, #{zoneCode}, #{roadAddress},
	            #{detailAddress}, #{email}, #{birth}, #{gender}, SYSDATE,
	            #{position}, SYSDATE, SYSDATE)
	</insert>

 	<!-- signUp, validation-->
	<!-- id -->
	<select id="isIdExists" resultType="boolean">
	    SELECT COUNT(*) > 0 FROM MEMBER WHERE LOGIN_ID = #{id}
	</select>
	
	<!-- nickname -->
	<select id="isNicknameExists" resultType="boolean">
	    SELECT COUNT(*) > 0 FROM MEMBER WHERE NICKNAME = #{nickname}
	</select>
	
	<!-- phoneNum -->
	<select id="isPhoneNumExists" resultType="boolean">
	    SELECT COUNT(*) > 0 FROM MEMBER WHERE PHONE_NUM = #{phoneNum}
	</select>
	
	<!-- email -->
	<select id="isEmailExists" resultType="boolean">
	    SELECT COUNT(*) > 0 FROM MEMBER WHERE EMAIL = #{email}
	</select>

	<!-- login -->    
    <select id="getMemberById" parameterType="map" resultType="crafty.dto.Member">
    	SELECT * FROM member WHERE login_id = #{id}
	</select>
	<!-- last login time stamp update -->
	<update id="updateLastLoginDate">
	    UPDATE MEMBER
	    SET last_login_date = #{lastLoginDate}
	    WHERE member_id = #{memberId}
	</update>

	<!-- findAccount -->
	<select id="getMemberByNameAndPhone" resultType="crafty.dto.Member">
	    SELECT * FROM MEMBER WHERE name = #{name} AND phone_num = #{phoneNum}
	</select>

	<select id="getMemberByIdAndPhone" resultType="crafty.dto.Member">
	    SELECT * FROM MEMBER WHERE login_id = #{loginId} AND phone_num = #{phoneNum}
	</select>

	<update id="updateMemberPassword">
	    UPDATE MEMBER SET login_pw = #{loginPw} WHERE member_id = #{memberId}
	</update>
	
 	<select id="getMemberByEmail" parameterType="String" resultType="crafty.dto.Member">
	    SELECT * FROM MEMBER WHERE email = #{email}
	</select>
 	
 	<!-- 주문자 정보 -->
 	<select id="getMemberByMemberId" resultType="crafty.dto.RequestPayment">
 		SELECT name, phone_num, email
 		FROM MEMBER
 		WHERE member_id = #{memberId}
 	</select>
	
	<!-- 알림 신청한 고객들의 email, 굿즈 이름 -->
 	<select id="getAlarmedMemberEmail" resultType="crafty.dto.MemberEmailInfo">
 		SELECT m.nickname, m.email, g.goods_name
		from OPEN_ALARM oa
		JOIN MEMBER m ON m.member_id = oa.member_id
		JOIN GOODS g ON g.goods_id = oa.goods_id
		WHERE TRUNC(oa.send_date) = TRUNC(SYSDATE)
 	</select>
 	
 	<select id="getMemberEmailInfoByGoodsId" resultType="crafty.dto.MemberEmailInfo">
 		SELECT m.nickname, m.email, g.goods_name
 		FROM GOODS g
 		JOIN MEMBER m ON m.member_id = g.member_id
 		WHERE goods_id = #{goodsId}
 	</select>
 </mapper>